video{
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header {
    position: relative;
    height: 100vh;
    text-align: center;
    justify-content: center;
}